.info > h2 {
  padding: 4px 8px 4px 8px;
}
.info > p {
  font-size: 15px;
  padding: 4px 8px 4px 8px;
}

.info > ul > li {
  font-size: 15px;
  padding: 4px 8px 6px 8px;
}

.info > ol > li {
  font-size: 15px;
  padding: 4px 8px 6px 8px;
}
