.side-nav a:link, .side-nav a:visited {
  color: #333;
  transition: background-color 1s ease;
}

.side-nav .active a, .side-nav a:active, .side-nav a:focus, .side-nav a:hover {
  color: #666fff !important;
}

.side-nav .active a, .side-nav a:active, .side-nav a:focus {
  background-color: #ffffff !important;
}

.side-nav a:hover {
  background-color: #f5f5f5 !important;
  border-radius: 2px;
}

.side-nav .nav-pills>li>a {
  border-radius: 0px;
}

.nav-container {
  border: #ddd solid 1px;
  border-radius: 3px;
}

.nav-side {
  padding-right: 0px;
}

.nav-label {
  padding-left: 5px;
}
