/*.side-nav {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}*/

.side-nav a:link, .side-nav a:visited {
  color: #333;
  transition: background-color 1s ease;
}

.side-nav .active a, .side-nav a:active, .side-nav a:focus, .side-nav a:hover {
  /*background-color: #61b7c6 !important;*/
}

.side-nav .active a, .side-nav a:active, .side-nav a:focus {
  background-color: #fafafa !important;
  border-left: 2px solid #61b7c6;
  color: #61b7c6 !important;
}

.side-nav a:hover {
  background-color: #fafafa !important;
  border-radius: 2px;
}

.side-nav .nav-pills>li>a {
  border-radius: 0px;
}

.nav-container {
  border-radius: 3px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.nav-side {
  padding-right: 0px;
}

.nav-label {
  padding-left: 5px;
}

.menu-divider {
  height: 0px;
  width: 100%;
  display: block; /* for use on default inline elements like span */
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
