@import url('https://fonts.googleapis.com/css?family=Work+Sans:200');

body {
  /*background: #61b7c6;*/
  color: white;
  font-family: 'Work Sans', sans-serif;
}

/*PANEL*/
.panel {
  box-shadow: none;
}
.panel-primary {
  border-color: #61b7c6;
}

.panel-primary>.panel-heading {
  background-color:#61b7c6;
  border-color: #61b7c6;
}

.color-theme {
  color: #61b7c6;
}

.nav-container {
  /*border: 1px solid #61b7c6 !important;*/
}

/* BUTTON */
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #fed136;
  border-color: #fed136;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #fec503;
  border-color: #f6bf01;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-primary .badge {
  color: #fed136;
  background-color: white;
  cursor: pointer;
}
.btn-xl {
  color: white;
  background-color: #fec503;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
  font-size: 18px;
  padding: 10px 40px;
  transition: background-color 0.4s ease;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-color:#ECB806;
  color: white;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #fed136;
  border-color: #fed136;
}
.btn-xl .badge {
  color: #fed136;
  background-color: white;
}

/* NAVBAR */
.navbar-default {
  background-color: #61b7c6;
  border-bottom: none;
  font-size: 18px;
}

.navbar-brand {
  font-size: 22px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a  {
  color: white;
  transition: color 0.4s ease;
  cursor: pointer;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover  {
  color: #fed136;
  border-bottom: 1px solid #fed136;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #fed136;
    border-bottom: 1px solid #fed136;
}

/*.nav-label {
  color: #61b7c6;
}*/

.text-primary {
  color: #61b7c6;
}

section {
  padding: 50px 0px;
}

/* FOOTER */
footer {
  padding: 10px 0;
  text-align: center;
  background-color: #fed136;
}
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

/* HEADER */
header {
  background: #61b7c6;
  background-image: url('../../static/img/bg.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: left;
  color: white;
  height: 100vh;
}
header .intro-text {
  padding-top: 150px;
  padding-bottom: 50px;
  padding-left: 100px;
}
header .intro-text .intro-lead-in {
  /*font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
  color: #9cd3dd;
}
header .intro-heading {
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  text-transform: uppercase;
  font-weight: 200;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 10px;
}

/* MAIN_CONTAINER */
.main-container {
  padding: 0px 50px;
  color: #555;
}

.main-wrapper {
  margin-top: 100px;
  padding-bottom: 50px;
  height: auto;
}

.bg-default {
  background-color: #eee;
  color: #555;
}

/*todo: temporary content height fix*/
.full-height {
  height: 100vh;
}

.page-info {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.page-info h4{
  color: #aaa;
}

.banner {
  background-color: #61b7c6;
  height: 150px;
}

/*FEATURES*/
#features {
  color: #555;
}

.section-subheading {
  font-size: 18px;
}

/* For tabbed forms (Machine.vue, Kit.vue, Container.vue) */
legend {
  font-size: 15px;
}

.clear-left {
  padding-left: 0px;
}

.clear-right {
  padding-right: 0px;
}

.panel.with-nav-tabs .panel-heading{
  padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
}

.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
  background-color: #ddd;
  border-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #f5f5f5;
  border-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #777;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #555;
}
